*

!*/

!.gitignore
!README.md

!hw/hdl/*.vhd
!hw/hdl/fifo/*
!!hw/hdl/greybox_tmp

!hw/quartus/ES_mini_project_TRDB_D5M_LT24.qpf
!hw/quartus/ES_mini_project_TRDB_D5M_LT24.qsf
!hw/quartus/ES_mini_project_TRDB_D5M_VGA.qpf
!hw/quartus/ES_mini_project_TRDB_D5M_VGA.qsf
!hw/quartus/ES_mini_project.sdc
!hw/quartus/soc_system.qsys
!hw/quartus/ip/**

!sw/hps/*
!sw/nios/application/i2c/*
!sw/nios/application/cmos_sensor_output_generator/*
!sw/nios/application/*.c
!sw/nios/application/*.h
!sw/nios/application/*.ppm
!sw/nios/application/.project
!sw/nios/application/.settings
!sw/nios/application/readme.txt
